//THEME COLOURS
$paragraph-text-color: #323232;
$text-label-color: #afafaf;
$text-field-border: #e1e1e1;
$text-field-background-fill: #fafafa;
$navigation-background-fill: #323232;
$primary-CTA-and-text-link: #0095ff;
$primary-CTA-hover: #0065ad;

$brainflix-blue-light: #0095ff;
$brainflix-blue: #0065ad;

//BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
