// UTILITY CLASSES

@mixin primary-CTA {
  background-color: $primary-CTA-and-text-link;
  color: #fafafa;
  font-family: "avenir-demi";
  border: 0px;
  border-radius: 5px;
  padding: 16px;
  &:hover {
    background-color: $brainflix-blue;
  }
}

.selected-text-input {
  background-color: #fafafa;
  border-radius: 5px;
  outline-color: $brainflix-blue-light;
  border: 1px solid $text-field-border;
}

/* ============
UTILITY CLASSES
============ */

// .section-heading {
//   @include mobile__h1;
//   font-family: "avenir-bold";
//   @include tablet {
//     margin-left: 0;
//     @include desk__h1;
//   }
// }

// .section-padding {
//   padding: 25px 5% 25px;
//   @include tablet {
//     padding: 5% 3.7% 3%;
//   }
//   @include desktop {
//     padding-left: 11.5%;
//     padding-right: 9.5%;
//   }
// }

// .primary-cta-button {
//   border-radius: 5px;
//   border: 0px solid;
//   background-color: $light-black;
//   color: $white;
//   font-family: "avenir-demi";
//   width: 100%;
//   padding: 16px;
//   font-size: 15px;
//   &:hover {
//     background-color: black;
//   }
// }
