@font-face {
  font-family: "avenir-regular";
  src: url("../assets/fonts/avenir-next-regular.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/fonts/avenir-next-demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/fonts/avenir-next-bold.otf");
}

.selected-text-input, .header__search-bar, .new-comment__textarea {
  background-color: #fafafa;
  border-radius: 5px;
  outline-color: black;
  border: 1.5px solid #e1e1e1;
}

/* ============
UTILITY CLASSES
============ */
/* = = = = = = = = = = = = = = =
  = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
  = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
  = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
  = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
  = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
  = = = = = = = = = = = = = = = */
/* ===========
DEFAULT RESETS
=========== */
html,
head,
body {
  margin: -4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "avenir-regular";
  color: #323232;
}

*,
*::before,
*::after {
  margin: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.header {
  padding: 5px 17px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 25px 17px 0px;
  }
}

.header__logo {
  width: 150px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 170px;
  }
}

.header__search-bar {
  height: 50px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header__search-bar {
    margin-bottom: 0;
  }
}

.header__button-img-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__submit-btn {
  background-color: #0095ff;
  color: #fafafa;
  font-family: "avenir-demi";
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  padding: 15px;
  min-width: 80%;
}

@media screen and (min-width: 768px) {
  .header__submit-btn {
    padding: 15px;
    min-width: auto;
    margin: 0px 24px;
  }
}

.header__user-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -17px;
  float: right;
}

.main-video {
  padding: 17px;
}

.main-video__video {
  width: 100vw;
  margin-left: -18px;
}

.video-description {
  padding: 17px;
}

@media screen and (min-width: 1440px) {
  .video-description {
    width: 751px;
  }
}

.video-description__title {
  font-family: "avenir-bold";
  margin-bottom: 15px;
}

.video-description__date-channel-views-likes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

@media screen and (min-width: 768px) {
  .video-description__date-channel-views-likes-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.video-description__date-channel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.video-description__channel-name {
  font-family: "avenir-demi";
  margin-right: 10px;
}

.video-description__date-posted {
  font-size: 13px;
  line-height: 18px;
  color: #afafaf;
}

.video-description__views-likes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.video-description__views-icon {
  margin-right: 8px;
}

.video-description__views {
  font-size: 14px;
  line-height: 22px;
  margin-right: 20px;
}

.video-description__likes {
  font-size: 14px;
  line-height: 22px;
  margin-left: 8px;
}

.video-description__description {
  font-size: 13px;
  line-height: 18px;
  margin-top: 40px;
}

@media screen and (min-width: 1440px) {
  .video-description__description {
    padding-right: 167px;
  }
}

.new-comment__number-of-comments {
  font-family: "avenir-demi";
  margin-top: 25px;
  margin-bottom: 25px;
}

.new-comment__user-img-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 90vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .new-comment__user-img-comment-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.new-comment__user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-right: 15px;
  margin-top: 24px;
}

.new-comment__title {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-family: "avenir-demi";
  margin-bottom: 4px;
}

.new-comment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 225px;
}

@media screen and (min-width: 768px) {
  .new-comment__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.new-comment__textarea {
  font-family: inherit;
  height: 80px;
  margin-bottom: 14px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .new-comment__textarea {
    height: 50px;
    min-width: 440px;
    margin-right: 16px;
  }
}

.new-comment__submit-btn {
  background-color: #0095ff;
  color: #fafafa;
  font-family: "avenir-demi";
  border: 0px;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .new-comment__submit-btn {
    height: 50px;
    min-width: 160px;
  }
}

.comments-list {
  list-style: none;
}

.comment {
  padding-left: 65px;
  padding-right: 17px;
  padding-top: 17px;
}

.comment__name-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.comment__name-date-container::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -53px;
  top: 3px;
  background-color: lightgrey;
}

.comment__name {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi";
}

.comment__timestamp {
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
}

.comment__content {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 20px;
  border-bottom: solid 1px lightgrey;
}

.video-list {
  list-style: none;
  padding: 17px;
}

@media screen and (min-width: 1440px) {
  .video-list {
    width: 350px;
  }
}

.video-list__heading-label {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-family: "avenir-demi";
  margin-bottom: 25px;
}

.video-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px;
}

.video-list__img {
  width: 120px;
  height: 75px;
  border-radius: 5%;
  margin-right: 20px;
}

.video-list__title-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-list__title {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi";
}

.video-list__name {
  font-size: 14px;
  line-height: 22px;
}

.App__MainVideo-and-VideoList-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .App__MainVideo-and-VideoList-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */